<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jknafou.kanata-login</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/kanata_on</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Library/Logs/Kanata/kanata-login.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/Kanata/kanata-login.err.log</string>
</dict>
</plist>
